:root {
  --mod-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --white: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Commissioner", sans-serif;
}

/* General Styles */
header {
  position: relative;
  top: 20px;
  left: 0;
}
p {
  font-size: 14px;
  line-height: 1.6;
  color: var(--dark-gray);
}
h2 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h6 {
  font-size: 15px;
  margin: 0;
  line-height: 0.1;
}
input[type="radio"] {
  margin-right: 15px;
  transform: scale(1.8);
}
input[type="number"] {
  width: 100px;
  padding: 0 0 0 35px;
  border-radius: 25px;
  outline: none;
  border-color: hsla(0, 0%, 48%, 0.6);
  border-style: solid;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

button {
  background-color: var(--mod-cyan);
  color: var(--white);
  border: none;
  border-radius: 35px;
  padding: 20px 35px;
  outline: none;
}

/* Classes */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
.fix-background-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: auto;
  z-index: -3;
}
.flex-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.hide {
  display: none;
}
.box {
  padding: 25px 20px;
  text-align: center;
  background-color: var(--white);
  border-radius: 8px;
  margin-bottom: 15px;
}
.logo-mastercraft {
  position: relative;
  top: 26px;
}
.bottom-border {
  margin-top: -15px;
  line-height: 2;
}
.gray-border {
  border: 1px solid hsla(0, 0%, 48%, 0.5);
}
.vertically-center {
  position: relative;
  top: -5px;
  padding-left: 8px;
}
.relative-pos {
  position: relative;
}
.move {
  position: absolute;
  top: 18px;
  left: 25px;
  color: var(--dark-gray);
}
.parent-border {
  border: 2px solid var(--mod-cyan);
  border-bottom: 1px solid hsla(0, 0%, 48%, 0.3);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.child-border {
  padding-top: 5px;
  border: 2px solid var(--mod-cyan);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
}

/* Utilities */
.mt-20 {
  margin-top: 20px;
}
.mt-35 {
  margin-top: 35px;
}
.mt {
  margin-top: 15px;
}
.mb-35 {
  margin-bottom: 35px;
}
/* Text Styles */
.text-center {
  text-align: center;
}
.regular-text {
  font-size: 18px;
}
.black-text {
  color: black;
  margin-right: 5px;
}
.text-large {
  font-size: 32px;
  color: var(--black);
  font-weight: 700;
  line-height: 0;
  margin-bottom: 28px;
}
.text-left {
  text-align: left;
}
.blue-text {
  color: var(--mod-cyan);
  font-weight: 700;
}
.light-opacity {
  opacity: 0.5;
}
